/* Variables */
/* COLORS */
#addProblem {
  padding: 20px; }
  #addProblem .ui.three.top.attached.steps {
    margin-top: 14px; }
  #addProblem .btnContainer {
    width: 100%;
    height: 40px;
    position: relative; }
    #addProblem .btnContainer .centeredBtn {
      margin-top: 0 !important;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%); }
