/* Variables */
/* COLORS */
#problem {
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 100px; }
  #problem .ui.header {
    background-color: #f2f2f2;
    font-family: 'yekan'; }
  #problem table th, #problem table td {
    text-align: center; }
  #problem table td {
    position: relative; }
  #problem .body p {
    line-height: 30px; }
  #problem .body .iframeHolder {
    height: 500px;
    background: url(../img/loading.gif) center center no-repeat;
    background-size: 400px 300px;
    background-color: #1f6dc7; }
    #problem .body .iframeHolder iframe {
      width: 100%;
      min-height: 500px; }
  #problem .pre {
    white-space: pre; }
  #problem input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }
  #problem .centeredBtn {
    margin-top: 0 !important; }
