/* Variables */
/* COLORS */
#rankList {
  background-color: #ffffff; }
  #rankList .ui.header {
    background-color: #f2f2f2;
    margin-top: 0 !important; }
  #rankList .rankList th, #rankList .rankList td {
    text-align: center; }
  #rankList .rankList td span.reason {
    max-width: 200px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis; }
  #rankList .rankList .positive {
    background-color: #e0fae6 !important;
    color: #198f35 !important; }
  #rankList .rankList .negative {
    background-color: #f8d7d7 !important;
    color: #861717 !important; }
  #rankList .rankList .unknown {
    background-color: transparent;
    border: none !important; }
