/* Variables */
/* COLORS */
#rankList {
  background-color: #ffffff; }
  #rankList .ui.header {
    background-color: #f2f2f2;
    margin-top: 0 !important; }
  #rankList .rankList th, #rankList .rankList td {
    text-align: center; }
  #rankList .rankList td {
    position: relative;
    line-height: 2.8;
    padding: 10px !important;
    max-width: 150px; }
    #rankList .rankList td span.reason {
      max-width: 200px;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis; }
    #rankList .rankList td .absRight {
      float: right; }
  #rankList .rankList .positive {
    background-color: #e0fae6 !important;
    color: #198f35 !important; }
  #rankList .rankList .negative {
    background-color: #f8d7d7 !important;
    color: #861717 !important; }
  #rankList .rankList .unknown {
    background-color: transparent;
    border: none !important; }
  #rankList pre, #rankList code {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    max-height: 350px;
    overflow: auto; }
    #rankList pre pre, #rankList pre code, #rankList code pre, #rankList code code {
      text-align: left;
      padding: 20px;
      padding-right: 75px;
      width: 100%;
      height: 100%; }
  #rankList #codeDiv {
    display: none;
    height: 350px;
    position: relative; }
    #rankList #codeDiv pre, #rankList #codeDiv code {
      height: 350px; }
    #rankList #codeDiv pre {
      overflow: hidden;
      margin-bottom: 10px; }
    #rankList #codeDiv code {
      margin-top: -20px;
      width: 100%; }
    #rankList #codeDiv .headerBtns {
      float: right;
      position: absolute;
      top: 5px;
      right: 5px; }
      #rankList #codeDiv .headerBtns .button {
        position: relative; }
      #rankList #codeDiv .headerBtns .toggleIcon {
        float: right;
        cursor: pointer; }
  #rankList .rankList.submits table {
    margin-top: 0; }
