@import "variables";

#createContest {
  background-color: $white;
  padding: 20px;
  .ui.header{
    background-color: $lightGray;
  }
  .g-recaptcha{
    margin-bottom: 10px;
    & > div {
      position: relative;
      left:50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
}