@import "variables";

#problem {
  background-color: $white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  //padding-bottom: 100px;
  //padding-bottom: 20px;
  //margin: {
  //  right: 10% !important;
  //  left: 10% !important;
  //};
  //width:calc(100% - 40px);
  //width: 80%;
  //min-height: calc(100vh - 75px);
  .ui.header{
    background-color: $lightGray;
    font-family: 'yekan';
    margin-top: 10px !important;
  }
  table{
    th , td{
      text-align: center;
    }
    td{
      position: relative;
    }
  }
  .body{
    p{
      line-height: 30px;
    }
    //.ui.loading.segment:before{
    //  z-index: -1 !important;
    //}
    .iframeHolder{
      height: 500px;
      background:url(../img/loading.gif) center center no-repeat;
      background-size: 400px 300px;
      background-color: #1f6dc7;
      iframe{
        //display: none;
        width: 100%;
        min-height: 500px;
        //z-index: +1000;
      }
    }
  }
  .pre{
    white-space:pre ;
    //&.output {
    //  position: absolute;
    //  top: 0;
    //  left:50%;
    //  -webkit-transform: translateX(-50%);
    //  -moz-transform: translateX(-50%);
    //  -ms-transform: translateX(-50%);
    //  -o-transform: translateX(-50%);
    //  transform: translateX(-50%);
    //}
  }
  input[type="file"]{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .centeredBtn{
    margin-top: 0!important;
  }
  .ui.large.step, .ui.large.steps .step {
    //font-size: 1.14285714rem;
    height: 125px;
  }
  .ui.steps .step .title~.description{
    position: relative;
    .button{
      position: absolute;
      float: left;
      left:50%;
      top: -10px;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
  .ui.steps .step .title{
    position: relative;
    top: -20px;
  }
  .fileTypesDropDown{
    min-width:100px;
  }
}