@import "variables";

#rankList {
  background-color: $white;
  //padding: 20px;
  //padding-top: 0 !important;
  //min-height: calc(100vh - 75px);
  .ui.header{
    background-color: $lightGray;
    margin-top: 0 !important;
  }
  .rankList{
    th , td{
      text-align: center;
    }
    td{
      span.reason{
        max-width: 200px;
        display:inline-block;
        white-space: nowrap;
        overflow:hidden !important;
        text-overflow: ellipsis;
      }
    }
    .positive {
      background-color: lighten(#21BA45,50%)!important;
      color: darken(#21BA45,10%) !important;
    }
    .negative {
      background-color: lighten(#DB2828 , 40%)!important;
      color: darken(#DB2828,20%) !important;
    }
    .unknown {
      background-color: transparent;
      border:none !important;
    }
  }
}