@import "variables";

#teams{
  background-color: $white;
  padding: 20px;
  table{
    th , td{
      text-align: center;
      position: relative;
    }
  }
  .ui.table:first-child , .ui.table:last-child {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .ui.table{
    border: none;
    padding: 0 !important;
    margin:0 !important;
  }
  .tablesContainer{
    border: 2px solid #f0f0f0 ; margin-bottom: 5px ;
  }
  .teamName {
    padding: 20px;
    font-size: 1.8em;
    background-color: #f0f0f0;
    button{
      position: relative;
      left: 20px;
    }
  }
  .ui.label.right {
    position: absolute;
    right: 10px;
    top:50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .ui.label.left {
    position: absolute;
    left: 10px;
    top:50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}