<div id="aboutUs">
    <div class="border">
        <!-- particles.js container -->
        <div id="particles-js"></div>

        <!-- stats - count particles -->
        <div class="count-particles">
            <span class="js-count-particles">--</span> particles
        </div>
        <!-- particles.js lib (JavaScript CodePen settings): https://github.com/VincentGarreau/particles.js -->
    </div>
    <div class="textBox">
        <h1>what is ijust?</h1>

    </div>
    <div class="aboutUsContainer">
        <p>IJust is an open-source judge system used for ACM contests.
            <br>Our system provides you with all the essential features a judge system demands. The main goal was to implement a secure and easy to use judge system for Iran University of Science and Technology (IUST).
        </p>
        <h2>Implementation Details</h2>
        <p>Basically, our system is based on “Client-Server” architecture, the server consists of a Model and a Controller, and the client side uses an MVC architecture as seen below.</p>
        <img class="ui centered image" src="/img/implementationDetails.png">
        <br>
        <p>
            Server:
            <ul style="list-style-type:disc">
                <li>The server was implemented with Flask Framework.</li>
                <li>Mongo-engine ORM was used for our MongoDB database.</li>
                <li>For authentication we used Redis, since it offers a better performance among others.</li>
            </ul>
            Web Client:
            <ul style="list-style-type:disc">
                <li>Our single page website was created and designed using AngularJS framework.</li>
                <li>Semantic-UI, Rome.js and particle.js were also used for a more responsive and user-friendly website.</li>
            </ul>
        </p>
        <h2>Collaboration & Contribution</h2>
        <P>Since our project is open-source, you can view our server and read more about it on github in the following link:
            <a>https://github.com/k04la/ijust_server</a>
        </P>

    </div>

    <script>
        /* ---- particles.js config ---- */

        particlesJS("particles-js", {
            "particles": {
                "number": {
                    "value": 300,
                    "density": {
                        "enable": true,
                        "value_area": 800
                    }
                },
                "color": {
                    "value": "#333333"
                },
                "shape": {
                    "type": "circle",
                    "stroke": {
                        "width": 0,
                        "color": "#000000"
                    },
                    "polygon": {
                        "nb_sides": 5
                    },
                    "image": {
                        "src": "img/github.svg",
                        "width": 100,
                        "height": 100
                    }
                },
                "opacity": {
                    "value": 0.5,
                    "random": false,
                    "anim": {
                        "enable": false,
                        "speed": 1,
                        "opacity_min": 0.1,
                        "sync": false
                    }
                },
                "size": {
                    "value": 3,
                    "random": true,
                    "anim": {
                        "enable": false,
                        "speed": 40,
                        "size_min": 0.1,
                        "sync": false
                    }
                },
                "line_linked": {
                    "enable": true,
                    "distance": 150,
                    "color": "#ffffff",
                    "opacity": 0.4,
                    "width": 1
                },
                "move": {
                    "enable": true,
                    "speed": 6,
                    "direction": "none",
                    "random": false,
                    "straight": false,
                    "out_mode": "out",
                    "bounce": false,
                    "attract": {
                        "enable": false,
                        "rotateX": 600,
                        "rotateY": 1200
                    }
                }
            },
            "interactivity": {
                "detect_on": "canvas",
                "events": {
                    "onhover": {
                        "enable": true,
                        "mode": "grab"
                    },
                    "onclick": {
                        "enable": true,
                        "mode": "push"
                    },
                    "resize": true
                },
                "modes": {
                    "grab": {
                        "distance": 140,
                        "line_linked": {
                            "opacity": 1
                        }
                    },
                    "bubble": {
                        "distance": 400,
                        "size": 40,
                        "duration": 2,
                        "opacity": 8,
                        "speed": 3
                    },
                    "repulse": {
                        "distance": 200,
                        "duration": 0.4
                    },
                    "push": {
                        "particles_nb": 4
                    },
                    "remove": {
                        "particles_nb": 2
                    }
                }
            },
            "retina_detect": true
        });


        /* ---- stats.js config ---- */

        var count_particles, stats, update;
        stats = new Stats;
        stats.setMode(0);
        stats.domElement.style.position = 'absolute';
        stats.domElement.style.left = '0px';
        stats.domElement.style.top = '0px';
        document.body.appendChild(stats.domElement);
        count_particles = document.querySelector('.js-count-particles');
        update = function () {
            stats.begin();
            stats.end();
            if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
                count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
            }
            requestAnimationFrame(update);
        };
        requestAnimationFrame(update);
    </script>
</div>