<div class="ui container" id="contest">
    <div class="ui one column centered grid labeled icon massive menu" style="position: relative">
        <a class="item" style="border-left: 1px solid rgba(34,36,38,.1);"
           ng-if="$root.isAdmin||$root.isOwner||($root.isJoined==2 && $root.contestInfo.is_active)||$root.isEnded"
           ui-sref="contest.problems"  ui-sref-active="active">
            <i class="copy icon"></i>
            Problems
        </a>
        <a class="item" ng-show="$root.isAdmin||$root.isOwner||$root.isJoined==2||$root.isEnded"
           ui-sref="contest.rankList"  ui-sref-active="active">
            <i class="ordered list icon"></i>
            Rank List
        </a>
        <a class="item" ui-sref="contest.info" ui-sref-active="active">
            <i class="attention
             icon"></i>
            Info
        </a>
        <a class="item" ng-show="$root.isAdmin||$root.isOwner||$root.isJoined==2"
           ui-sref="contest.submits"  ui-sref-active="active">
            <i class="browser icon"></i>
            Submits
        </a>
        <a class="item" ng-show="$root.isAdmin||$root.isOwner" ui-sref-active="active">
            <i class="users icon" ui-sref="contest.teams"></i>
            <div class="floating ui circular orange label teamButton">{{pendingTeamsNumber}}</div>
            <span ui-sref="contest.teams">Teams</span>
        </a>
        <a class="item timer" ng-show="$root.timer.status != 'ended'">
            <div class="iconBox">
                <i ng-if="$root.timer.status == 'to start'" class="hourglass empty icon"></i>
                <i ng-if="$root.timer.status == 'to end'" class="hourglass end icon"></i>
            </div>
            <div class="textBox">
                <p>{{$root.timer.time}}</p>
                <p>{{$root.timer.status}}</p>
            </div>
        </a>
        <a class="item timer" ng-show="$root.timer.status == 'ended'">
            <i class="hourglass full icon"></i>
            <p>{{$root.timer.status}}</p>
        </a>
        <!--<div style="position: absolute ; right: 0;">-->
        <!--<div class="item" style="border-left: 1px solid rgba(34,36,38,.1);">-->
        <!--<i class="hourglass half icon"></i>-->
        <!--00:00:00-->
        <!--</div>-->
        <!--</div>-->
    </div>
    <div ui-view></div>
    <div class="ui pendingTeams modal">
        <i class="close icon"></i>
        <div class="header">
            Teams Requests to Join Contest
        </div>
        <div class="content">
            <!--<div class="ui active dimmer" ng-show="isShowPendingLoading">-->
            <!--<div class="ui massive loader"></div>-->
            <!--</div>-->
            <div class="ui negative message" ng-if="pendingTeamsNumber == 0">
                <div class="header" style="text-align: center">
                    No Team's Request to Join
                </div>
            </div>
            <table class="ui celled table" ng-if="pendingTeamsNumber != 0">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Admin</th>
                    <th>Member1</th>
                    <th>Member2</th>
                    <th>Action</th>
                    <!--<th></th>-->
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="pt in pendingTeams">
                    <td>{{pt.name}}</td>
                    <td>{{pt.owner.username}}</td>
                    <td ng-if="pt.members[0]">{{pt.members[0].username}}</td>
                    <td ng-if="!pt.members[0]">----</td>
                    <td ng-if="pt.members[1]">{{pt.members[0].username}}</td>
                    <td ng-if="!pt.members[1]">----</td>
                    <!--<td ng-repeat="m in pt.members">-->
                        <!--<span class="ui label">{{m.username}}</span>-->
                    <!--</td>-->
                    <td>
                        <div class="ui buttons">
                            <button class="ui green button" ng-click="acceptJoinRequest(pt.id)">Accept</button>
                            <div class="or"></div>
                            <button class="ui red button" ng-click="rejectJoinRequest(pt.id)">Reject</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="ui success message" ng-show="successJoinTeam">
                <div class="header">
                    team joined successfully.
                </div>
            </div>
            <div class="ui error message" ng-show="rejectJoinTeam">
                <div class="header">
                    team rejected successfully.
                </div>
            </div>
        </div>
    </div>
</div>