<div id="contestInfo">
    <div class="ui active inverted dimmer" ng-show="$root.notifyLoader">
        <div class="ui text massive loader">Loading</div>
    </div>
    <h3 class="ui top attached header centered">
        Contest Info
    </h3>
    <div class="ui attached thisContest segment">
        <table class="ui celled table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Owner</th>
                <th>Start Time</th>
                <th>End Time</th>
                <!--<th></th>-->
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{contestInfo.name}}</td>
                <td>{{contestInfo.owner.username}}</td>
                <td>{{$parent.getDate(contestInfo.starts_at)}}</td>
                <td>
                    <span>{{$parent.getDate(contestInfo.ends_at)}}</span>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="ui two column centered grid">
            <div class="ui column">
                <div ng-show="(isOwner || isAdmin)&& !isEdit" class="ui buttons centeredBtn">
                    <button class="ui blue button"
                            ng-click="isEdit = true">Edit Information
                    </button>
                    <button class="ui inverted red button" ng-click="showDeleteModal()">
                        Delete Contest
                    </button>
                </div>
                <div ng-show="(isOwner || isAdmin)&& isEdit" class="ui buttons centeredBtn">
                    <button class="ui button" ng-click="isEdit = false">
                        cancel
                    </button>
                    <button class="ui positive button" ng-click="editContest()">
                        update
                    </button>
                </div>
                <button class="ui orange right labeled icon button centeredBtn" id="cancelBtn" ng-show="isJoined==1">
                    <i class="right remove icon"></i>
                    cancel join request
                </button>
                <div class="ui dropdown blue button teamDropDown centeredBtn" id="joinBtn"
                     style="height: 39px;padding: 13px"
                     ng-show="!isOwner && !isAdmin && !isJoined"
                     data-tooltip="if you have not any team , create a team"
                     data-inverted="">
                    <div class="text">Join Contest</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" ng-repeat="team in $root.myTeams" ng-click="join(team.id)">{{team.name}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui positive message" ng-show="isJoined==1">
            <div class="header" style="text-align: center">
                Your Join Request is Pending , wait for Contest's Admin to Accept.
            </div>
        </div>
        <!--<div class="ui positive message" ng-show="showSuccessJoinMsg">-->
        <!--<div class="header" style="text-align: center">-->
        <!--{{successJoinMsg}}-->
        <!--</div>-->
        <!--</div>-->
        <div class="ui negative message" ng-show="showErrorJoinMsg">
            <div class="header" style="text-align: center">
                {{errorJoinMsg}}
            </div>
        </div>
    </div>
    <div class="ui basic modal" id="cancelModal">
        <div class="ui icon header">
            <i class="sign out icon"></i>
            Are You Sure?
        </div>
        <!--<div class="content">-->
        <!--<p>You</p>-->
        <!--</div>-->
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                No
            </div>
            <div class="ui green ok inverted button" id="confirmCancelBtn" ng-click="cancel()">
                <i class="checkmark icon"></i>
                Yes
            </div>
        </div>
    </div>
    <div class="ui basic modal" id="deleteModal">
        <div class="ui icon header">
            <i class="archive icon"></i>
            <h1>Are you Sure to Delete this contest?</h1>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                No
            </div>
            <div class="ui green ok inverted button" ng-click="deleteContest()">
                <i class="checkmark icon"></i>
                Yes
            </div>
        </div>
    </div>
</div>