<div class="ui container" id="home">
    <div class="ui active inverted dimmer" ng-show="$root.notifyLoader">
        <div class="ui text massive loader">Loading</div>
    </div>
    <!--<h3 class="ui top attached header centered">-->
        <!--Contests you Joined-->
    <!--</h3>-->
    <!--<div class="ui attached joinedContests loading segment">-->
        <!--<table class="ui selectable  celled table">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th>Name</th>-->
                <!--<th>Admin</th>-->
                <!--<th>Start Time</th>-->
                <!--<th>End Time</th>-->
                <!--&lt;!&ndash;<th></th>&ndash;&gt;-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr ng-repeat="contest in joinedContests" ui-sref="contest({contestName : contest.name})">-->
                <!--<td>{{contest.name}}</td>-->
                <!--<td>{{contest.owner.username}}</td>-->
                <!--<td>{{contest.starts_on}}</td>-->
                <!--<td>-->
                    <!--<span>{{contest.ends_on}}</span>-->
                    <!--&lt;!&ndash;<button class="ui button right floated" ui-sref="contest({contestName : contest.name})">Show</button>&ndash;&gt;-->
                <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->

    <h3 class="ui top attached header centered">
        <!--Contests you can Join-->
        All Contests
    </h3>
    <div class="ui attached otherContests loading segment">
        <table class="ui selectable  celled table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Admin</th>
                <th>Start Time</th>
                <th>End Time</th>
                <!--<th></th>-->
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="contest in contestsList" ui-sref="contest({contestName : contest.name})">
                <td>{{contest.name}}</td>
                <td>{{contest.owner.username}}</td>
                <td>{{contest.starts_on}}</td>
                <td>
                    <span>{{contest.ends_on}}</span>
                    <!--<button class="ui button right floated" ui-sref="contest({contestName : contest.name})">Show</button>-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <h3 class="ui top attached header centered">
        Contests you Created
    </h3>
    <div class="ui attached  ownedContests loading segment">
        <table class="ui selectable  celled table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Created Time</th>
                <th>Start Time</th>
                <th>End Time</th>
                <!--<th></th>-->
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="contest in ownedContets" ui-sref="contest({contestName : contest.name})">
                <td>{{contest.name}}</td>
                <td>{{contest.created_on}}</td>
                <td>{{contest.starts_on}}</td>
                <td>
                    <span>{{contest.ends_on}}</span>
                    <!--<button class="ui button right floated" ui-sref="contest({contestName : contest.name})">Show</button>-->
                </td>
            </tr>
            </tbody>
        </table>
        <!--<div class="ui one column centered grid">-->
            <!--<div class="column">-->
                <!--<button class=" ui blue centeredBtn button">Create Contest</button>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>