<div class="ui container" id="home">

    <div class="ui active inverted dimmer" ng-show="$root.notifyLoader">
        <div class="ui text massive loader">Loading</div>
    </div>

    <h3 class="ui top attached header centered">
        Your Teams
    </h3>
    <div class="ui attached teamInfo loading segment">
        <table class="ui selectable  celled table" ng-show="!$root.teamsEmptyError">
            <thead>
            <tr>
                <th>Name</th>
                <th>Owner</th>
                <th>Members</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="team in $root.myTeams" ui-sref="team({teamId : team.id})">
                <td>{{team.name}}</td>
                <td>{{team.owner.username}}</td>
                <td><span ng-repeat="tm in team.members">{{tm.username}},</span></td>
            </tr>
            </tbody>
        </table>
        <div ng-show="$root.teamsEmptyError" class="ui error visible message">
            <p>you have not any team</p>
        </div>
    </div>

    <h3 class="ui top attached header centered">
        All Contests
    </h3>
    <div class="ui attached otherContests loading segment">
        <table class="ui selectable  celled table" ng-show="!allContetsEmptyError">
            <thead>
            <tr>
                <th>Name</th>
                <th>Admin</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>active</th>
                <th>status</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="contest in contestsList" ui-sref="contest({contestId : contest.id})">
                <td>{{contest.name}}</td>
                <td>{{contest.owner.username}}</td>
                <td>{{$parent.getDate(contest.starts_at)}}</td>
                <td>{{$parent.getDate(contest.ends_at)}}</td>
                <td ng-if="contest.is_active"><i class="large green checkmark icon"></i></td>
                <td ng-if="!contest.is_active"><i class="large red close icon"></i></td>
                <td ng-class="{'negative': contest.joining_status.status == '0' ,'pending': contest.joining_status.status == '1'  , 'positive': contest.joining_status.status == '2' }">
                    <span ng-if="contest.joining_status.status == '0'"><i class="icon close"></i>not joined</span>
                    <span ng-if="contest.joining_status.status == '1'"><i class="icon attention"></i>pending</span>
                    <span ng-if="contest.joining_status.status == '2'"><i class="icon checkmark"></i>joined</span>
                </td>
            </tr>
            </tbody>
        </table>
        <div ng-show="allContetsEmptyError" class="ui error visible message">
            <p>there is no contest</p>
        </div>
    </div>

    <h3 class="ui top attached header centered">
        Contests you Created
    </h3>
    <div class="ui attached  ownedContests loading segment">
        <table class="ui selectable  celled table" ng-show="!ownedContetsEmptyError">
            <thead>
            <tr>
                <th>Name</th>
                <th>Admin</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>active</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="contest in ownedContests" ui-sref="contest({contestId : contest.id})">
                <td>{{contest.name}}</td>
                <td>{{contest.owner.username}}</td>
                <td>{{$parent.getDate(contest.starts_at)}}</td>
                <td>{{$parent.getDate(contest.ends_at)}}</td>
                <td ng-if="contest.is_active">
                    <i class="large green checkmark icon"></i>
                </td>
                <td ng-if="!contest.is_active">
                    <i class="large red close icon"></i>
                </td>
            </tr>
            </tbody>
        </table>
        <div ng-show="ownedContetsEmptyError" class="ui error visible message">
            <p>You didn't created any contest yet</p>
        </div>
    </div>

    <h3 class="ui top attached header centered">
        Contests you are admin
    </h3>
    <div class="ui attached adminContests loading segment">
        <table class="ui selectable  celled table" ng-show="!adminContetsEmptyError">
            <thead>
            <tr>
                <th>Name</th>
                <th>Admin</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>active</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ac in adminContests" ui-sref="contest({contestId : ac.id})">
                <td>{{ac.name}}</td>
                <td>{{ac.owner.username}}</td>
                <td>{{$parent.getDate(ac.starts_at)}}</td>
                <td>{{$parent.getDate(ac.ends_at)}}</td>
                <td ng-if="ac.is_active">
                    <i class="large green checkmark icon"></i>
                </td>
                <td ng-if="!ac.is_active">
                    <i class="large red close icon"></i>
                </td>
            </tr>
            </tbody>
        </table>
        <div ng-show="adminContetsEmptyError" class="ui error visible message">
            <p>You are not admin of any contest</p>
        </div>
    </div>

</div>