<div id="problem">
    <div class="ui active inverted dimmer" ng-show="$root.notifyLoader">
        <div class="ui text massive loader">Loading</div>
    </div>
    <h3 class="ui top attached header centered">
        {{problemInfo.title}}
    </h3>
    <div class="ui attached rankList segment">
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Time Limit</th>
                    <th>Space Limit</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{problemInfo.time_limit}} ms</td>
                    <td>{{problemInfo.space_limit}} kb</td>
                </tr>
            </tbody>
        </table>
        <div class="ui segment body" style="text-align: center">
            <!--<p>-->
                <!--{{problemInfo.body}}-->
            <!--</p>-->
            <!--<iframe ng-src="{{bodyUrl}}"-->
                    <!--style="width:600px; height:500px;"></iframe>-->
            <iframe id="problem_body"></iframe>
            <a ng-href="{{bodyUrl}}" style="text-align: center">{{bodyUrl}}</a>
        </div>
        <div class="ui segment grid container">
            <div class="three column row">
                <div class="column">
                    <div class="ui dropdown blue button fileTypesDropDown centeredBtn"
                         style="height: 37px;padding: 11px;z-index: +99999;">
                        <div class="text">File Type</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item" ng-repeat="ft in fileTypeList" ng-click="getFileType(ft)">{{ft}}</div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <button class="ui blue button centeredBtn" ng-show="!buttonLoader" type="file" ngf-select="upload($file, $invalidFiles)">upload</button>
                    <button class="ui blue loading button centeredBtn" ng-show="buttonLoader">upload pdf</button>
                </div>
            </div>
        </div>
        <div class="ui icon message centeredBtn " style="max-width: 400px" ng-show="isCompile">
            <i class="notched circle loading icon"></i>
            <div class="content">
                <div class="header">
                    Go To Submits
                </div>
                <p>your code is compiling now.</p>
            </div>
        </div>
    </div>
</div>