<div id="problem" class="animated fadeIn">
    <div class="ui active inverted dimmer" ng-show="$root.notifyLoader">
        <div class="ui text massive loader">Loading</div>
    </div>
    <h3 class="ui top attached header centered">
        {{problemInfo.title}}
    </h3>
    <div class="ui attached problem loading segment">
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Time Limit</th>
                    <th>Space Limit</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{problemInfo.time_limit}} s</td>
                    <td>{{problemInfo.space_limit}} mb</td>
                </tr>
            </tbody>
        </table>
        <div class="ui segment body" style="text-align: center">
            <!--<p>-->
                <!--{{problemInfo.body}}-->
            <!--</p>-->
            <!--<iframe ng-src="{{bodyUrl}}"-->
                    <!--style="width:600px; height:500px;"></iframe>-->
            <div class="iframeHolder">
                <iframe id="problem_body"></iframe>
            </div>
            <a ng-href="{{bodyUrl}}" style="text-align: center">{{bodyUrl}}</a>
        </div>
        <div class="ui segment centered grid container">
            <div class="column row">
                <div>
                    <div class="ui ordered large steps">
                        <div class="step">
                            <div class="content">
                                <div class="title">programming language</div>
                                <div class="description">
                                    <div class="ui bottom left pointing dropdown blue button fileTypesDropDown centeredBtn"
                                         style="height: 37px;padding: 11px;z-index: +99999;">
                                        <div class="text">File Type</div>
                                        <i class="dropdown icon"></i>
                                        <div class="menu">
                                            <div class="item" ng-repeat="ft in fileTypeList" ng-click="getFileType(ft)">{{ft}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="active step">
                            <div class="content">
                                <div class="title">upload program file</div>
                                <div class="description">
                                    <button class="ui blue button centeredBtn" type="file" ngf-select="upload($file, $invalidFiles)">upload</button>
                                    <!--<button class="ui blue loading button centeredBtn" ng-show="buttonLoader">upload</button>-->
                                </div>
                            </div>
                        </div>
                        <div class="step">
                            <div class="content">
                                <div class="title">submit your code</div>
                                <div class="description">
                                    <button class="ui blue button centeredBtn" ng-show="!buttonLoader" ng-click="submit()">submit</button>
                                    <button class="ui blue loading button centeredBtn" ng-show="buttonLoader">upload</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui icon message centeredBtn " style="max-width: 400px" ng-show="isCompile">
            <i class="notched circle loading icon"></i>
            <div class="content">
                <div class="header">
                    Go To Submits
                </div>
                <p>your code is compiling now.</p>
            </div>
        </div>
    </div>
</div>