<div id="problems">
    <div class="ui active inverted dimmer" ng-show="$root.notifyLoader">
        <div class="ui text massive loader">Loading</div>
    </div>
    <h3 class="ui top attached header centered">
        <span>Problems</span>
        <div class="headerBtns">
            <div class="ui icon button toggleIcon" data-content="Add users to your feed">
                <i class="minus icon"></i>
            </div>
            <button ng-show="isOwner||isAdmin"
                    class="ui orange right labeled icon button animated"
                    style="float: right;"
                    ng-class="{'tada':$root.showProblemsEmptyError}"
                    ui-sref="contest.problems.addProblem">
                <i class="right plus icon"></i>
                Add Problem
            </button>
        </div>
    </h3>
    <div class="ui attached segment centered grid container problemsList">
        <div ng-repeat="problem in problemsInfo" class=" four wide column box animated flipInY">
            <div id="{{problem.id}}" class="ui stacked segment" ui-sref="contest.problems.problem({problemId:problem.id})">
                <a class="ui teal ribbon label">{{mapToString($index)}}</a>
                <div class="ui top attached label"></div>
                <div class="ui bottom attached label"></div>
                <div class="textContainer">
                    <p class="text">{{problem.title}}</p>
                </div>
            </div>
            <div class="ui two bottom attached buttons" ng-show="$root.isOwner||$root.asAdmin">
                <div class="ui icon bottom left pointing dropdown button editProblemBtn" ng-click="showDropDown(problem.id,$index)">
                    <i class="wrench icon" ng-click="showDropDown(problem.id,$index)"></i>
                    <div class="menu">
                        <div class="header">
                            Edit Problem
                        </div>
                        <div class="ui left icon input">
                            <i class="font icon"></i>
                            <input type="text" placeholder="name" ng-model="editProblemInfo.title">
                        </div>
                        <div class="ui left icon input">
                            <i class="hourglass end icon"></i>
                            <input type="number" placeholder="time limit" ng-model="editProblemInfo.time_limit">
                        </div>
                        <div class="ui left icon input">
                            <i class="database icon"></i>
                            <input type="number" placeholder="memory limit" ng-model="editProblemInfo.space_limit">
                        </div>
                        <div class="divider"></div>
                        <div class="item">
                            <button class="ui positive button centeredBtn" id="editProblemBtn" ng-click="editProblem()">Update Info</button>
                        </div>
                        <div class="item upload">
                            <i class="dropdown icon"></i>
                            <span class="text">upload body & test case</span>
                            <div class="menu transition visible">
                                <div class="item">
                                    <button class="ui primary button" type="file" ngf-select="uploadBody($file, $invalidFiles,problem.id)">select .pdf</button>
                                    <button class="ui primary button" type="file" ngf-select="uploadTestCase($file, $invalidFiles,problem.id)">select .zip</button>
                                </div>
                            </div>
                        </div>
                        <!--<div class="item upload">-->
                            <!--<i class="dropdown icon"></i>-->
                            <!--<span class="text">Upload test case</span>-->
                            <!--<div class="menu">-->
                                <!--<div class="item">-->
                                    <!--<button class="ui button">select .zip</button>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="ui icon button" ng-click="showDeleteProblemModal(problem.id,$index,problem.title)"><i class="remove icon"></i></div>
            </div>
        </div>
        <div ng-show="$root.showProblemsEmptyError" id="emptyError" class="ui error visible message ten wide column">
            <p>there is no problem</p>
        </div>
        <div class="ui basic modal" id="deleteModal">
            <div class="ui icon header">
                <i class="archive icon"></i>
                <h1>Are you Sure to Delete "{{problemName}}" ?</h1>
            </div>
            <div class="actions">
                <div class="ui red basic cancel inverted button">
                    <i class="remove icon"></i>
                    No
                </div>
                <div class="ui green ok inverted button" ng-click="deleteProblem()">
                    <i class="checkmark icon"></i>
                    Yes
                </div>
            </div>
        </div>
    </div>
    <div ui-view></div>
</div>