<div id="problems">
    <div class="ui active inverted dimmer" ng-show="$root.notifyLoader">
        <div class="ui text massive loader">Loading</div>
    </div>
    <h3 class="ui top attached header centered">
        <span>Problems</span>
        <div class="headerBtns">
            <div class="ui icon button toggleIcon" data-content="Add users to your feed">
                <i class="minus icon"></i>
            </div>
            <button ng-show="isOwner||isAdmin" class="ui orange right labeled icon button" style="float: right;" ui-sref="contest.problems.addProblem">
                <i class="right plus icon"></i>
                Add Problem
            </button>
        </div>
    </h3>
    <div class="ui attached segment centered grid container problemsList">
        <div ng-repeat="problem in problemsInfo" class=" four wide column box animated flipInY">
            <div id="{{problem.id}}" class="ui stacked segment" ui-sref="contest.problems.problem({problemId:problem.id})">
                <a class="ui teal ribbon label">{{mapToString($index)}}</a>
                <div class="ui top attached label"></div>
                <div class="ui bottom attached label"></div>
                <div class="textContainer">
                    <p class="text">{{problem.title}}</p>
                </div>
            </div>
            <div class="ui two bottom attached buttons" ng-show="$root.isOwner||$root.asAdmin">
                <div class="ui icon bottom left pointing dropdown button editProblemBtn" ng-click="showDropDown(problem.id,$index)">
                    <i class="wrench icon" ng-click="showDropDown(problem.id,$index)"></i>
                    <div class="menu">
                        <div class="header">
                            Edit Problem
                        </div>
                        <div class="ui left icon input">
                            <i class="font icon"></i>
                            <input type="text" placeholder="name" ng-model="editProblemInfo.title">
                        </div>
                        <div class="ui left icon input">
                            <i class="hourglass end icon"></i>
                            <input type="number" placeholder="time" ng-model="editProblemInfo.time_limit">
                        </div>
                        <div class="ui left icon input">
                            <i class="database icon"></i>
                            <input type="number" placeholder="memory" ng-model="editProblemInfo.space_limit">
                        </div>
                        <div class="divider"></div>
                        <div class="item">
                            <button class="ui positive button centeredBtn" id="editProblemBtn" ng-click="editProblem()">Update</button>
                        </div>
                    </div>
                </div>
                <div class="ui icon button" ng-click="deleteProblem(problem.id)"><i class="remove icon"></i></div>
            </div>
        </div>
        <div ng-show="showProblemsEmptyError" class="ui error visible message ten wide column">
            <p>there is no problem</p>
        </div>
    </div>
    <div ui-view></div>
</div>