<div class="ui container" id="rankList">
    <div class="ui active inverted dimmer" ng-show="$root.notifyLoader">
        <div class="ui text massive loader">Loading</div>
    </div>
    <h3 class="ui top attached header centered">
        Rank List
    </h3>
    <div class="ui attached rankList segment">
        <table class="ui celled table">
            <thead>
            <tr>
                <th>Rank</th>
                <th>Team Name</th>
                <th>Solved Problems</th>
                <th>Penalty</th>
                <th ng-repeat="problem in result.result[0].problems">{{problem.title}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="team in result.result">
                <td>{{$index+1}}</td>
                <td><a>{{team.team_name}}</a></td>
                <td>{{team.solved_count}}</td>
                <td>{{team.penalty}}</td>
                <!--<td ng-repeat="t in team.problems_list " ng-class="{'positive': t.solved ,'negative': !t.solved}">-->
                <td ng-repeat="t in team.problems " ng-class="{'positive': t.solved==true ,'negative': t.solved==false , 'unknown': t.solved=='unknown'}">
                    <i class="checkmark icon" ng-show="t.solved==true"></i>
                    <i class="attention icon" ng-show="t.solved==false"></i>
                    <span ng-show="t.solved != 'unknown'">Failed : {{t.failed_tries}}</span>
                    <span ng-show="t.solved == 'unknown'">--</span>
                </td>
            </tr>
            </tbody>
        </table>
        <!--<div class="ui one column centered grid">-->
        <!--<div class="column">-->
        <!--<button class=" ui blue centeredBtn button">Create Contest</button>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</div>