<div class="ui container" id="rankList">
    <div class="ui active inverted dimmer" ng-show="$root.notifyLoader">
        <div class="ui text massive loader">Loading</div>
    </div>
    <h3 class="ui top attached header centered">
        Rank List
    </h3>
    <div class="ui attached rankList segment">
        <table class="ui celled table">
            <thead>
            <tr>
                <th>Rank</th>
                <th>Team Name</th>
                <th class="single line">Solved Problems</th>
                <th>Penalty</th>
                <th ng-repeat="p in problems">{{p.title}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="team in result.teams">
                <td>{{$index+1}}</td>
                <td><a>{{team.name}}</a></td>
                <td>{{team.solved_count}}</td>
                <td>{{team.penalty}}</td>
                <td ng-repeat="problem in team.problems track by $index"
                    data-tooltip="Failed Tries : {{problem.failed_tries}} | Penalty : {{problem.penalty}} | Submitted at : {{$parent.getTime(problem.submitted_at)}}"
                    data-variation="huge"
                    ng-class="{'positive': problem.solved==true ,'negative': problem.solved==false}">
                    <i class="checkmark icon" ng-show="problem.solved==true"></i>
                    <i class="attention icon" ng-show="problem.solved==false"></i>
                    <span ng-show="problem.solved == true">{{problem.penalty}}</span>
                    <span ng-show="problem.solved == false">-{{problem.failed_tries}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>