<div class="ui container" id="rankList">
    <div class="ui active inverted dimmer" ng-show="$root.notifyLoader">
        <div class="ui text massive loader">Loading</div>
    </div>
    <h3 class="ui top attached header centered">
        Your Submits
    </h3>
    <div class="ui attached rankList segment">
        <table class="ui celled table">
            <thead>
            <tr>
                <th>Problem</th>
                <th>Status</th>
                <th>Reason</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="t in submitsInfo">
                <td>{{t.problem.title}}</td>
                <td ng-class="{'positive': t.status=='Accepted' ,'negative': t.status=='WrongAnswer' , 'unknown': t.status !='Accepted' && 'WrongAnswer'}">
                    <i class="checkmark icon" ng-show="t.status=='Accepted'"></i>
                    <i class="attention icon" ng-show="t.status=='WrongAnswer'"></i>
                    {{t.status}}
                </td>
                <td>{{t.reason}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>