<div class="ui container" id="rankList">
    <div class="ui active inverted dimmer" ng-show="$root.notifyLoader">
        <div class="ui text massive loader">Loading</div>
    </div>
    <div class="ui one column centered grid labeled icon pointing massive menu" style="position: relative">
        <div style="position: absolute ; left: 0;">
            <a class="item" style="border-left: 1px solid rgba(34,36,38,.1);"
               ui-sref="contest({contestName:contestName})">
                <i class="backward icon"></i>
                Back
            </a>
        </div>
        <a class="item" style="border-left: 1px solid rgba(34,36,38,.1);" ui-sref="problems({contestId:contestId , teamId:teamId})">
            <i class="copy icon"></i>
            Problems
        </a>
        <a class="rankListButton item" ui-sref="rank_list({contestName : contestName})">
            <i class="ordered list icon"></i>
            Rank List
        </a>
        <a class="active item" ui-sref="submitted({contestName : contestName})" ng-show="isJoined">
            <i class="browser icon"></i>
            Submits
        </a>
        <a class="item teamButton" ng-show="isShowTeamButton">
            <i class="users icon"></i>
            <div class="floating ui orange label">{{pendingTeamsNumber}}</div>
            Teams
        </a>
        <!--<div style="position: absolute ; right: 0;">-->
            <!--<div class="item" style="border-left: 1px solid rgba(34,36,38,.1);">-->
                <!--<i class="hourglass half icon"></i>-->
                <!--00:00:00-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <h3 class="ui top attached header centered">
        Rank List
    </h3>
    <div class="ui attached rankList segment">
        <table class="ui celled table">
            <thead>
            <tr>
                <th>Team Name</th>
                <th ng-repeat="n in problemNumbers">Problem {{n}}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a>{{myTeamObj.team.name}}</a></td>
                <!--<td ng-repeat="t in team.problems_list " ng-class="{'positive': t.solved ,'negative': !t.solved}">-->
                <td ng-repeat="t in myTeamObj.problems_list" ng-class="{'positive': t.solved==true ,'negative': t.solved==false , 'unknown': t.solved=='unknown'}">
                    <i class="checkmark icon" ng-show="t.solved==true"></i>
                    <i class="attention icon" ng-show="t.solved==false"></i>
                    <span ng-repeat="tf in t.failed_tries_reason" ng-show="t.solved==false">{{tf}},</span>
                    <span ng-show="t.solved==true">accepted</span>
                </td>
            </tr>
            </tbody>
        </table>
        <!--<table class="ui definition table">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th></th>-->
                <!--<th>status</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr ng-repeat="t in myTeamobj.problems_list">-->
                <!--<td>problem {{mapToString(t.order)}}</td>-->
                <!--<td ng-repeat="tf in t.failed_tries_reason">{{tf}},</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
        <!--<div class="ui one column centered grid">-->
        <!--<div class="column">-->
        <!--<button class=" ui blue centeredBtn button">Create Contest</button>-->
        <!--</div>-->
        <!--</div>-->
    </div>
    <div class="ui pendingTeams modal">
        <i class="close icon"></i>
        <div class="header">
            Teams Requests to Join Contest
        </div>
        <div class="content">
            <!--<div class="ui active dimmer" ng-show="isShowPendingLoading">-->
            <!--<div class="ui massive loader"></div>-->
            <!--</div>-->
            <div class="ui negative message" ng-if="pendingTeamsNumber == 0">
                <div class="header" style="text-align: center">
                    No Team's Request to Join
                </div>
            </div>
            <table class="ui celled table" ng-if="pendingTeamsNumber != 0">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Admin</th>
                    <th>Members</th>
                    <th>Action</th>
                    <!--<th></th>-->
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="pt in pendingTeams">
                    <td>{{pt.name}}</td>
                    <td>{{pt.owner.username}}</td>
                    <td ng-repeat="m in pt.members">
                        <span class="ui label">{{m.username}}</span>
                    </td>
                    <td>
                        <div class="ui buttons">
                            <button class="ui green button" ng-click="acceptJoinRequest(pt.id)">Accept</button>
                            <div class="or"></div>
                            <button class="ui red button" ng-click="rejectJoinRequest(pt.id)">Reject</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>