<div class="ui container" id="teams">
    <div class="ui active inverted dimmer" ng-show="$root.notifyLoader">
        <div class="ui text massive loader">Loading</div>
    </div>
    <div class="ui grid tablesContainer" ng-repeat="ti in teamsInfo">
        <table class="ui celled table ">
            <thead>
            <tr>
                <th class="teamName">
                    {{ti.name}}
                    <!--<button class="circular ui icon button">-->
                        <!--<i class="icon settings"></i>-->
                    <!--</button>-->
                </th>
            </tr>
            </thead>
        </table>
        <table class="ui celled table eight wide column" style="border-right: 2px solid #f0f0f0">
            <thead>
            <tr>
                <th>Members</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <a class="ui label right">
                        <i class="star icon"></i>
                        Admin
                    </a>
                    {{ti.owner.username}}
                </td>
            </tr>
            <tr ng-repeat="t in ti.members">
                <td>{{t.username}}</td>
            </tr>
            </tbody>
        </table>
        <table class="ui celled table eight wide column">
            <thead>
            <tr>
                <th>Contests</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="c in ti.contests">
                <td>{{c.name}}  <span class="ui label right" ng-class="{'green':c.status == 'accepted' , 'red':c.status=='rejected'}">{{c.status}}</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>